{% extends "djangoapp/base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}


<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">About Us</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac nisi nec tortor luctus accumsan. Pellentesque sed diam fringilla, pulvinar tortor vitae, pretium erat. Cras ut congue velit. Vestibulum non posuere neque, quis gravida leo. Nunc in convallis ex. Integer vulputate vitae odio quis tincidunt. Phasellus eget eros in ligula egestas bibendum et non quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec porttitor nisl eget suscipit molestie. Aliquam nec dignissim elit, sed vulputate orci.</p>

    </div>
  </div>


{% endblock %}