{% extends "djangoapp/base.html" %}
{% block title %}Add Review{% endblock %}
{% block content %}
<h2>Add review for {{ dealer.full_name }}</h2>
<form>
    <label for="content">Your review message:</label>
   <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
   <label for="purchasecheck">Has purchased the car from this dealership</label>
   <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">

   <label for="car">Select your car (model-make-year): </label>
   <select name="car" id="car" class="form-select" required>
       <option value="test">test</option>
     <!-- {% for car in cars %}
         <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
     {% endfor %} -->
    </select>
   <label for="purchasedate">Select your purchase date:</label>
   <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
   <button type="submit">Send review</button>
</form>
<script>
    $('.date-own').datepicker({
    format: 'mm/dd/yyyy'
});
</script>
{% endblock %}