{% extends "djangoapp/base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}

<div class="bg-light p-5 rounded text-center">
<h1>Our contact data</h1>
<p class="lead">Address: Neverland, Magic Street 5</p>
<p class="lead">Phone: +40 455 266 212</p>
<a class="btn btn-lg btn-primary" href="#" role="button">Send us and email »</a>
</div>
<br>
<div class="row text-center mt-5">
      <div class="col-lg-4">
        <img class="rounded-circle" width="140" height="140" src="https://randomuser.me/api/portraits/men/75.jpg" alt="">
        <h2>Bob</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac nisi nec tortor luctus accumsan. Pellentesque sed diam fringilla, pulvinar tortor vitae, pretium erat. Cras ut congue velit. Vestibulum non posuere neque, quis gravida leo.</p>

        <p><a class="btn btn-secondary" href="#">Contact Me »</a></p>
    </div>
    <div class="col-lg-4">
        
        <img class="rounded-circle" width="140" height="140" src="https://randomuser.me/api/portraits/men/76.jpg" alt="">
        <h2>Alex</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac nisi nec tortor luctus accumsan. Pellentesque sed diam fringilla, pulvinar tortor vitae, pretium erat. Cras ut congue velit. Vestibulum non posuere neque, quis gravida leo.</p>
        <p><a class="btn btn-secondary" href="#">Contact Me »</a></p>
    </div>
    <div class="col-lg-4">
        <img class="rounded-circle" width="140" height="140" src="https://randomuser.me/api/portraits/women/75.jpg" alt="">
        
        <h2>Laura</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac nisi nec tortor luctus accumsan. Pellentesque sed diam fringilla, pulvinar tortor vitae, pretium erat. Cras ut congue velit. Vestibulum non posuere neque, quis gravida leo.</p>
        <p><a class="btn btn-secondary" href="#">Contact Me »</a></p>
      </div>
    </div>

    {% endblock %}