{% extends "djangoapp/base.html" %}

{% block title %}Dealer Details{% endblock %}

{% block add_review %}
    {% if user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'djangoapp:add_review' dealer.id %}">Add review</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h2>Reviews for {{ dealer.full_name }}</h2>
    {% if not reviews %}
        <p>Currently there are no reviews for this dealer ...</p>
    {% endif %}
    <div class="card-columns">
        {% for review in reviews %}
        <div class="card">
            <div class="card-img-left"><img src="{{ MEDIA_URL }}/emoji/{{ review.img }}" alt=""></div>
            <div class="card-body">
                {% if review.purchase %}
                <div class="card-title">
                    <h2>{{ review.car_make }} {{ review.car_model }}</h2>
                </div>
                <div class="card-title">{{ review.purchase_date }}</div>
                {% endif %}
                <div class="card-text">{{ review.review }}</div>
            </div>
        </div>
    <!-- </div> -->
    {% endfor %}
{% endblock %}