{% extends "djangoapp/base.html" %}
{% block title %}Dealership reviews{% endblock %}
{% block content %}
<h2>Dealerships</h2>
<hr>
<table class="table table-sm table-striped table-borderless" style="border:0" id="table" data-filter-control="true">
    <thead>
        <tr>
            <th>ID</th>
            <th>Dealer Name</th>
            <th>City</th>
            <th>Address</th>
            <th>Zip</th>
            <th data-field="state" data-filter-control="select">State</th>
        </tr>
    </thead>
    <tbody>
        {% for dealer in dealerships %}
        <tr>
            <td>{{ dealer.id }}</td>
            <td>
                <a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{ dealer.short_name }}</a>
            </td>
            <td>{{ dealer.city }}</td>
            <td>{{ dealer.address }}</td>
            <td>{{ dealer.zip }}</td>
            <td>{{ dealer.st }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}